.chart-sleep-day {
  display: flex;
  flex-direction: row;
  height: calc(100% - 40px);
  margin-top: 50px;

  span {
    box-sizing: content-box;
  }

  .sleep-label {
    width: 40px;
    margin-right: 14px;
    span {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      width: 40px;
      height: 52px;
      color: #AAB1BB;
      text-align: center;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.14px;
    }
  }
  .sleep-line-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    width: 100%;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }

  .sleep-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border-left: 1px solid #AAB1BB;
    border-right: 1px solid #AAB1BB;
    border-bottom: 1px solid #AAB1BB;

    &.none {

      border-left: unset;
      border-right: unset;
      border-bottom: unset;
    }
  }
  .wake-item {
    display: inline-flex;
    height: 52px;
    background-color: #FFA900;

    &:first-child {
      border-left: unset !important;
    }
    &.line {
      border-left: 1px solid rgba(170,177,187, 0.5);
    }
    &.none {
      background-color: unset;
    }
  }
  .light-item {
    height: 52px;
    background-color: rgba(255,169,0, 0.5);

    &:first-child {
      border-left: unset !important;
    }
    &.line {
      border-left: 1px solid rgba(170,177,187, 0.5);
    }
    &.none {
      background-color: unset;
    }
  }
  .deep-item {
    height: 52px;
    background-color: #FFA900;

    &:first-child {
      border-left: unset !important;
    }
    &.line {
      border-left: 1px solid rgba(170,177,187, 0.5);
    }
    &.none {
      background-color: unset;
    }
  }

  span.sleep-label-time {
    display: inline-flex;
    color: #4E4B66;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  }
}