.axios-loading {
  position: fixed;
  z-index: 9999999999999999;
  top: calc(var(--vh, 1vh) * 50 - 20px);
  left: calc(50vw - 20px);
  margin: 0;
  width: 40px;
  height: 40px;
  padding-bottom: 0 !important;

  .loader {
    border: 5px solid $colorGray; /* Light grey */
    border-top: 5px solid $colorPrimary; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
}

@-webkit-keyframes spin {
  100%{ -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  100%{ -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  100%{ -ms-transform: rotate(360deg); }
}
@keyframes spin {
  100%{ transform: rotate(360deg); }
}

.kp-time-picker {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;

  > span {
    font-size: 30px;
    margin: 0 5px;
  }
}

.vue-scroll-picker {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.vue-scroll-picker-rotator {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 0.6em);
}
.vue-scroll-picker-rotator-transition {
  transition: top ease 0.2s;
}
.vue-scroll-picker-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $textContentBlackHalf;
}
.vue-scroll-picker-item-selected {
  color: $textContentBlack;
}
.vue-scroll-picker-item-empty,
.vue-scroll-picker-item-placeholder {
  color: #aaa;
}
.vue-scroll-picker-item-empty.vue-scroll-picker-item-selected,
.vue-scroll-picker-item-placeholder.vue-scroll-picker-item-selected {
  color: #777;
}
.vue-scroll-picker-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.vue-scroll-picker-layer-top,
.vue-scroll-picker-layer-selection,
.vue-scroll-picker-layer-bottom {
  position: absolute;
  left: 0;
  right: 0;
}
.vue-scroll-picker-layer-top {
  box-sizing: border-box;
  //border-bottom: 1px solid #c8c7cc;
  //background: linear-gradient(180deg,#fff 10%,rgba(255,255,255,.7));
  top: 0;
  height: calc(50% - 1em);
  cursor: pointer;
}
.vue-scroll-picker-layer-selection {
  top: calc(50% - 1em);
  bottom: calc(50% - 1em);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.vue-scroll-picker-layer-bottom {
  //border-top: 1px solid #c8c7cc;
  //background: linear-gradient(0deg,#fff 10%,rgba(255,255,255,.7));
  bottom: 0;
  height: calc(50% - 1em);
  cursor: pointer;
}

.kp-btn {
  width: 100%;
  padding: 16px 20px 15px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-radius: 25px;
}

.kp-btn.primary {
  color: $colorWhite;
  background-color: $colorPrimary;
}
.kp-btn.default {
  color: $textContentBlack;
  background-color: $colorWhite;
}
.kp-btn.secondary {
  color: $colorRedOrange;
  background-color: $colorLightRed;
}

.kp-btn:disabled {
  background-color: $colorDarkGray;
}
.kp-btn:focus {
  outline:0;
}

.dp__theme_light {
  font-family: 'Pretendard Variable';

  .input-slot-image {
    height: 15px;
    width: 15px;
    margin: 0 10px 2px;
  }

  .dp__clear_icon {
    display: none;
  }

  .dp__input {
    padding: 6px 10px 6px 35px;
    border-radius: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  &.white-theme {
    .dp__input {
      background-color: $colorDarkGray;
      color: $colorWhite;
      text-align: center;
    }
  }

  --dp-background-color: #ffffff;
  --dp-text-color: $textContentBlack;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #212121;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #1976d2;
  --dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #ddd;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: $colorPrimary;
  --dp-danger-color: #ff6f60;
  --dp-highlight-color: rgba(25, 118, 210, 0.1);
}

.kp-select {
  padding: 10px 50px 10px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $textContentBlack;
  background: #f4f5f7;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../images/common/arrow-down.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 10px;
}

.kp-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.kp-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.kp-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a0a3bd;
  border: 1px solid #a0a3bd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.kp-slider:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  left: -3px;
  bottom: -4px;
  background-color: white;
  border: 1px solid #a0a3bd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .kp-slider {
  background-color: #466fff;
}

input:focus + .kp-slider {
  box-shadow: 0 0 1px #466fff;
}

.kp-input:focus {
  border: 1px solid #466fff !important
  //outline: 1px solid #466fff !important;
}

.kp-input {
  border: 1px solid #F4F5F7;
  outline: none;
  //cursor: pointer;
  //-webkit-appearance: none;
}

input:checked + .kp-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  right: 3px;
  border: 1px solid #466fff;
}

/* Rounded sliders */
.kp-slider.round {
  border-radius: 34px;
}

.kp-slider.round:before {
  border-radius: 50%;
}


.disable-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
