@tailwind base;
@tailwind components;
@tailwind utilities;

$headerHeight: 56px;
$footerHeight: 70px;

html,
body,
div#app {
  width: 100%;
  height: 100%;
  background: $colorBackground;
}

#app {
  background-color: $colorBackground;
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  background: $colorWhite;

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $textContentBlack;
  }
}

.scroll-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 65px !important;
  padding-bottom: 90px !important;
  overflow-y: auto;
}

.btn-refresh {
  padding: 0;
  width: 40px;
  height: 40px;
  background: $colorWhite !important;
  border-radius: 25px !important;
  box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);
}

.profile-background {
  background-color: $colorAntiFlashWhite;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.dash-board {
  overflow-x: hidden;
  article.user-info {
    box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);

    .thumbnail {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: $colorGray;
    }

    .name-space {
      .user-name {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $colorBlack;
      }
      .user-id {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $textGrayPrefix;
      }
    }

    .battery-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .battery {
        position: relative;
        width: 40px;
        height: 40px;
        background: #2c80ff1a;
        border-radius: 50%;

        .battery-img {
          display: inline-flex;
          width: 24px;
          height: 14px;
          background: no-repeat center center url('../images/view/img-battery-bg.svg');
          transform: rotate(270deg);

          span {
            height: 10px;
            margin: 2px 5px 2px 2px;
            background: #2c80ff;
            border-radius: 2px;
          }
        }

        .chart-wrapper {
          position: absolute;
          top: -4px;
          left: -4px;

          canvas {
            width: 48px;
            height: 48px;
          }
        }
      }

      .battery-percent {
        width: 40px;
        margin-top: 10px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        height: 19px;

        color: $colorBlue;
      }
    }

    .battery-empty {
      background-color: $colorAntiFlashWhite;
    }
  }

  .info {
    .title-wrapper {
      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }

      .time-refresh {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $textGrayPrefix;
      }

      .btn-more {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $textGrayPrefix;
      }
    }

    .detail-info {
      width: 100%;
      height: 120px;
      padding: 15px 0;
      box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);
      border-radius: 10px;

      &.working {
        order: 1;
      }
      &.heart-rate {
        order: 2;
      }
      &.map {
        order: 3;
        padding: 0;

        > #map {
          height: 100%;
        }
      }
      &.temperature {
        order: 4;
      }
      &.blood-pressure {
        order: 5;
      }
      &.sleep {
        order: 6;
      }

      .title {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $textContentBlack;
      }

      .icon {
        width: 20px;
        height: 20px;
      }

      .value {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -1px;
        text-align: center;
        color: $textContentBlack;
        &.prev {
          font-weight: 500;
          color: $textGrayPrefix;
        }
      }

      .prefix {
        margin-top: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $textGrayPrefix;
        span {
          font-size: 0.8em;
          font-weight: normal;
        }
      }
    }
  }

  .board {
    background: $colorWhite;
  }

  article.chat-wrapper {
    .preview-wrapper {
      .preview-body {
        background-color: $colorWhite;
        box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);

        &.emergency {
          background-color: $colorRed !important;

          .message-body {
            .message-info {
              .user-id {
                color: $colorWhite;
              }

              .date {
                color: $colorWhite;
              }
            }

            .message-content {
              .message {
                color: $colorWhite;
              }
            }
          }
        }

        .user-wrapper {
          .profile-wrapper {
            background-color: $colorAntiFlashWhite;
          }
        }

        .message-body {
          .message-info {
            .user-id {
              font-size: 16px;
              line-height: 19px;
              font-weight: 500;
              color: $colorThickGray;
              text-align: left;
            }

            .date {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: $textGrayPrefix;
              text-align: right;
            }
          }

          .message-content {
            .message {
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              color: $textGrayPrefix;
            }
          }
        }
      }

      .empty-chat {
        color: $textGrayPrefix;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
      }
    }
  }
}

section.location-board {
  position: relative;
  height: calc(100% - #{$headerHeight});

  .date-picker {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    z-index: 10;
  }

  .map-wrapper {
    height: calc(100% - 70px - #{$footerHeight});

    .map {
      height: 100%;
    }
  }

  .manager-map-wrapper {
    position: relative;
    height: calc(100% - #{$footerHeight});

    .manager-update {
      bottom: 40px;
      border-radius: 25px;
      right: 60px;
      position: absolute;
      min-width: 151px;
      height: 40px;
      background-color: $colorPrimary;

      .update-text {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorWhite;
      }
    }

    .only-update-btn {
      position: absolute;
      bottom: 40px;
      border-radius: 25px;
      right: 60px;
      min-width: 40px;
      height: 40px;
      padding: 0 10px;
      background-color: $colorPrimary;
    }

    .map {
      height: 100%;
    }
  }

  .update-label {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $textContentBlack;
  }

  .update-time {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $textGrayPrefix;
  }

  .info-window {
    position: absolute;
    bottom: 20px;
    height: 37px;
    padding: 0 10px;
    background: #4e4b66;
    border-radius: 10px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;

    &:after {
      border-top: 10px solid #4e4b66;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0px solid transparent;
      content: '';
      position: absolute;
      bottom: -9px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .manager-marker-window {
    position: absolute;
    width: auto;
    white-space: nowrap;
    bottom: 20px;
    height: 37px;
    padding: 0 10px 0 40px;
    background: #ffffff;
    border-radius: 25px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4e4b66;
    background-image: url('../images/common/default-marker.svg');
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 8px;
    transform: translate(-50%, 8px);
    box-shadow: 0px 3px 4px 1px #dadde6;

    &.disconnect {
      background-image: url('../images/common/disconnect-marker.svg');
    }

    &:after {
      border-top: 10px solid #ffffff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0px solid transparent;
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

section.login {
  article.login-info {
    .main-title {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      text-align: left;
      color: $colorNebulaBlue;
    }

    .sub-title {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: left;
      color: $textContentBlack;
    }

    .login-form {
      .login-input {
        input {
          background-color: $colorAntiFlashWhite;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: $textContentBlack;
        }

        input::placeholder {
          color: $colorDarkGray;
        }
      }

      .login-btn {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $colorWhite;
      }

      input[type='checkbox'] {
        &.isActive {
          border: 1px solid $colorNebulaBlue;
        }
        //-webkit-appearance: none;
        //-moz-appearance: none;
        //appearance: none;
        //width: 25px;
        //height: 25px;
        //border-radius: 3px;
        //border: 1px solid $textGrayPrefix;
        //background: $colorWhite;
      }
      //
      //input[type="checkbox"]::after {
      //  //display: inline-block;
      //  display: none;
      //}
      //
      //input[type="checkbox"] + label {
      //  //display: inline-block;
      //  position: relative;
      //}
      //
      //input[type="checkbox"]:checked + label::after {
      //  position: absolute;
      //  left: -30px;
      //  top:0;
      //  content:'✔';
      //}

      input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff;
        border-radius: 4px;
        height: 25px;
        outline: 0;
        width: 25px;
        border: 1px solid $textGrayPrefix;
      }
      input[type='checkbox']::after {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        content: '';
        display: none;
        height: 45%;
        left: 35%;
        position: relative;
        top: 20%;
        transform: rotate(45deg);
        width: 30%;
      }
      input[type='checkbox']:checked {
        background: $colorNebulaBlue;
      }
      input[type='checkbox']:checked::after {
        display: block;
      }
    }

    .sub-form {
      .sub-content {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        color: $textContentBlack;
      }
    }
  }
}

section.find {
  article.find-info {
    .user-input-form {
      .header-wrapper {
        button {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
        }
        .activate {
          color: $textContentBlack;
        }
        .deactivate {
          color: $colorDarkGray;
        }
      }

      .line-wrapper {
        .enabled {
          background-color: $colorNebulaBlue;
        }

        .disabled {
          background-color: $colorWhite;
        }
      }

      .content-wrapper {
        .input-form {
          input {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $textContentBlack;
            background-color: $colorAntiFlashWhite;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
          }
          input::placeholder {
            color: $colorDarkGray;
          }
          input:focus {
            box-shadow: 0 0 1px #466fff;
          }
        }

        .not-matching {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $colorRedOrange;
          text-align: left;
        }
      }
    }

    .btn-wrapper {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorWhite;
      text-align: center;
    }

    .btn-wrapper.activate {
      background-color: $colorDarkGray;
    }

    .btn-wrapper.deactivate {
      background-color: $colorNebulaBlue;
    }
  }
  article.reset-info {
    .main-title {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: $colorNebulaBlue;
    }

    .sub-title {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $textContentBlack;
    }

    .pwd-reset-form {
      .input-form {
        input {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: $textContentBlack;
          background-color: $colorAntiFlashWhite;
        }
        input::placeholder {
          color: $colorDarkGray;
        }

        .guide-info {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $textContentBlack;
        }

        .not-matching {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $colorRedOrange;
        }
      }
    }

    .confirm-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorAntiFlashWhite;
    }
    .activate {
      background-color: $colorNebulaBlue;
    }

    .deactivate {
      background-color: $colorDarkGray;
    }
  }
}

section.success {
  article.success-info {
    .success-form {
      .join-main-title {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: $colorNebulaBlue;
      }

      .join-sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $textContentBlack;
      }

      .main-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }

      .login-main-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $textContentBlack;

        span {
          font-size: 24px;
          color: $colorNebulaBlue;
        }
      }

      .sub-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $textContentBlack;
      }
    }
    .user-sub-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }

    .confirm-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorWhite;
      background-color: $colorNebulaBlue;
    }
  }
}

section.terms {
  .main-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: $colorNebulaBlue;
  }

  .sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $textContentBlack;
  }

  article.terms-info {
    input[type='checkbox'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #fff;
      border-radius: 4px;
      height: 25px;
      outline: 0;
      width: 25px;
      border: 1px solid $textGrayPrefix;
    }
    input[type='checkbox']::after {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      content: '';
      display: none;
      height: 45%;
      left: 35%;
      position: relative;
      top: 20%;
      transform: rotate(45deg);
      width: 30%;
    }
    input[type='checkbox']:checked {
      background: $colorNebulaBlue;
      border: 1px solid $colorNebulaBlue;
    }
    input[type='checkbox']:checked::after {
      display: block;
    }

    .all-check-form {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }

    .single-check-info {
      .single-check-form {
        label {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $textContentBlack;
        }
      }

      .context-info {
        .context-form {
          background-color: $colorAntiFlashWhite;

          .terms-title {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: $textContentBlack;
          }

          .terms-context {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $textContentBlack;
          }
        }
      }
    }
  }

  .confirm-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $colorWhite;
  }

  .activate {
    background-color: $colorNebulaBlue;
  }

  .deactivate {
    background-color: $colorDarkGray;
  }
}

section.join {
  article.join-info {
    .input-form {
      input {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: black;
        background-color: $colorAntiFlashWhite;
      }

      input::placeholder {
        color: $colorDarkGray;
      }

      .small-btn {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorWhite;
      }

      .activate {
        background-color: $colorNebulaBlue;
      }
      .deactivate {
        background-color: $colorDarkGray;
      }

      .available-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorNebulaBlue;
      }

      .standard-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $textContentBlack;
      }

      .not-matching-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorRedOrange;
      }
    }
  }

  .confirm-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $colorWhite;
  }

  .confirm-btn.activate {
    background-color: $colorNebulaBlue;
  }

  .confirm-btn.deactivate {
    background-color: $colorDarkGray;
  }

  .guide-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: $colorGraniteGray;
    text-align: center;

    .guid-text-bold {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 17px;
      color: $colorNebulaBlue;
    }
  }

  .id-duplicate-check {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorRedOrange;
  }
}

section.private {
  article.private-info {
    .image-form {
      //background: rgba(0, 0, 0, 0.5);

      .camera-bg-wrapper {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    .input-form {
      .input-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorRomanSilver;
      }

      .reset-password-btn {
        background-color: $colorWhite;
        color: $colorNebulaBlue;
      }

      .private-input {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $textContentBlack;
        background-color: $colorAntiFlashWhite;
      }

      .read-only-input {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorDarkGray;
        background-color: $colorTitanWhite;
      }

      .device-info {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $colorRomanSilver;
        background-color: $colorAntiFlashWhite;

        span {
          color: $colorBlack;
        }
      }
    }

    .save-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorWhite;
      background-color: $colorNebulaBlue;
    }

    .cancel-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorRadicalRed;
      background: linear-gradient(180deg, rgba(254, 101, 135, 0.1), rgba(245, 45, 106, 0.1));
    }

    .withdraw-wrapper {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      text-align: center;
      color: $textContentBlack;

      .withdraw-bold {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 17px;
        color: $colorPrimary;
      }
    }
  }
}

div.chat-detail-wrapper {
  .chat-header-wrapper {
    background-color: $colorWhite;

    .chat-header {
      background-color: $colorWhite;

      .chat-header-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $textContentBlack;
      }
    }
  }

  .chat-message-area-wrapper {
    .chat-message-list-wrapper {
      background-color: $colorBackground !important;

      .chat-box-wrapper {
        .my-message {
          .message-wrapper {
            background-color: $colorLightBlue;
            border-radius: 20px 0px 20px 20px;

            &.emergency {
              background-color: #dc2626;
              div {
                color: $colorWhite;
              }
            }

            .message {
              font-style: normal;
              color: #000;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;

              &.file {
                text-decoration: underline;
                color: #0645ad;

                img {
                  object-fit: cover;
                }
              }
            }
          }

          .message-deco-wrapper {
            .read-count {
              font-style: normal;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: $colorNebulaBlue;
            }

            .date {
              font-style: normal;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: $textGrayPrefix;
            }
          }
        }

        .other-message {
          .message-contents {
            .user-id {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #000;
            }
            .message-wrapper {
              .message {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000;
                background-color: $colorWhite;

                &.emergency {
                  background-color: #dc2626;
                  color: $colorWhite;
                }

                &.file {
                  text-decoration: underline;
                  color: #0645ad;

                  img {
                    object-fit: cover;
                  }
                }
              }

              .message-deco-wrapper {
                .read-count {
                  font-style: normal;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: $colorNebulaBlue;
                }

                .date {
                  font-style: normal;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: $textGrayPrefix;
                }
              }
            }
          }
        }

        .day-deco-wrapper {
          .day-deco {
            background-color: $colorDarkGray;

            span {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              font-style: normal;
              color: $colorWhite;
            }
          }
        }
      }
    }
  }

  .chat-bottom {
    background-color: $colorWhite;

    .bottom-wrapper {
      .input-wrapper {
        .text-area-wrapper {
          background-color: $colorAntiFlashWhite;

          &.emergency {
            background-color: $colorRed;
          }

          &.isFocus {
            outline: 1px solid $colorNebulaBlue;

            &.emergency {
              outline: none;
            }
          }

          .chat-input {
            min-height: 32px !important;
            background-color: $colorAntiFlashWhite;
            padding-right: 20px !important;
            padding-left: 75px !important;
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            &.hasText {
              padding-left: 15px !important;
            }

            &.emergency {
              color: $colorWhite;
              background-color: #dc2626;
            }
          }
        }

        .bar {
          font-size: 18px;
          line-height: 20px;
          color: $colorDarkGray;
        }
      }
    }
  }
  .src-wrapper {
    background-color: #00000080;
  }
}

div.group-wrapper {
  .box-wrapper {
    background-color: $colorWhite;
  }

  .title-wrapper {
    .title {
      color: $textContentBlack;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      font-style: normal;
    }
  }

  .empty {
    color: $colorRomanSilver;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;

    span {
      color: $colorRomanSilver;
      line-height: 19px;
      font-size: 16px;
      font-weight: 400;

      &.desc {
        color: $colorLightSilver;
        font-size: 14px;
      }
    }
  }

  .search-user-wrapper {
    background-color: $colorWhite;
    .notice {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      font-style: normal;
      color: $colorRomanSilver;
    }

    .search_bar {
      background-color: $colorWhite;

      div {
        padding: 20px;
        background-color: $colorAntiFlashWhite;
      }

      input {
        background-color: $colorAntiFlashWhite;

        //&:focus {
        //  border: 3px solid #466FFF;
        //}
      }
    }
  }

  .emergency-wrapper {
    .change-btn {
      background-color: $colorNebulaBlue;

      span {
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: $colorWhite;
      }
    }
  }

  .join-request-wrapper {
  }

  .group-list-wrapper {
  }
}

footer.footer-nav {
  height: $footerHeight;
  padding: 0 32px;
  background: $colorWhite;

  .footer-nav-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: $textGray;
  }
}

div.popup-wrapper {
  background-color: #00000080;

  .group-users-wrapper {
    background-color: $colorWhite;

    .cur-group {
      background-color: $colorWhite;

      &.single {
        border-radius: 25px;
      }
    }

    .text-wrapper {
      .user-name {
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        color: $textContentBlack;
      }

      .user-etc {
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $textGrayPrefix;
      }
    }

    .group-list-wrapper {
      background-color: #f9f9ff;

      .group-area {
      }
    }
  }

  .group-users-emergency-wrapper {
    .user-info-wrapper {
      .text-wrapper {
        .user-name {
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          color: $textContentBlack;
        }
        .user-id {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $textGrayPrefix;
        }
      }
    }

    .btn-wrapper {
      button {
        width: 130px;
        height: 50px;
        padding: unset;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .chat-users-wrapper {
    background-color: $colorWhite;

    .title {
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      line-height: 24px;
      color: $textContentBlack;
    }

    .user-wrapper {
      .user-info-wrapper {
        .user-id {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 19px;
          color: $textContentBlack;
        }

        .user-etc {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          color: $textGrayPrefix;
        }
      }

      .creator {
        background-color: #4e4b661a;
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $textContentBlack;
        }
      }

      .emergency-user {
        background-color: #dc26261a;
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #dc2626;
        }
      }
    }
  }

  .find-user-wrapper {
    .user-info-wrapper {
      .user-name {
        font-weight: 700;
        font-size: 24px;
        color: $textContentBlack;
        line-height: 29px;
      }

      .user-id {
        font-weight: 400;
        font-size: 14px;
        color: $textGrayPrefix;
        line-height: 17px;
      }
    }
  }

  .group-state-manage-wrapper {
    .main-notice {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: $textContentBlack;
    }
    .emergency-deco {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: $colorRedOrange;
    }
    .button-area {
      .accept-btn {
        background-color: $colorNebulaBlue;
        color: $colorWhite;
      }
      .refuse-btn {
        background-color: $colorLightRed;
        color: $colorRedOrange;
      }
      span {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
      }
    }
  }
}

div.profile-wrapper {
  .profile-info {
    .name {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      line-height: 17px;
      color: $textContentBlack;
    }

    .etc {
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      line-height: 17px;
      color: $textGrayPrefix;
    }
  }

  .profile-btn {
    .group-list-wrapper {
      &.state-resolve {
        background-color: $colorLightRed;

        div {
          color: $colorRedOrange;
        }
      }

      &.state-reject {
      }

      &.state-pending {
        background-color: $colorAntiFlashWhite;

        div {
          color: $colorRomanSilver;
        }
      }

      div {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        line-height: 19px;
      }
    }

    .emergency-wrapper {
      background-color: $colorNebulaBlue;

      div {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        line-height: 19px;
        color: $colorWhite;
      }
    }

    .join-request-wrapper {
      .accept-btn {
        background-color: $colorNebulaBlue;

        span {
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          line-height: 19px;
          color: $colorWhite;
        }
      }

      .refuse-btn {
        background-color: $colorLightRed;

        span {
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          line-height: 19px;
          color: $colorRedOrange;
        }
      }
    }
  }
}

div.chat-list-wrapper {
  .preview-manager {
    .preview-body {
      background-color: $colorWhite;

      .user-id {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        line-height: 19px;
        color: $textContentBlack;
      }

      .date {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        color: $textGrayPrefix;
      }

      .message-content {
        p {
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          line-height: 19px;
          color: $textGrayPrefix;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

div.setting-menu-wrapper {
  .user-wrapper {
    .user-area {
      background-color: $colorWhite;
      box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);

      .user-name {
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        line-height: 29px;
        color: $textContentBlack;
      }

      .user-id {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 17px;
        color: $textGrayPrefix;
      }
    }
  }

  .setting-wrapper {
    .setting-link-area {
      .setting-area {
        background-color: $colorWhite;
        box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);

        span {
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          line-height: 19px;
          color: $textContentBlack;
        }
      }
    }
  }
}

section.user-type {
  article.user-type-wrapper {
    .type-main-header {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: $colorNebulaBlue;
    }

    .type-sub-header {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }

    .type-form-wrapper {
      &.active {
        background-color: $colorPrimary;
      }
      .contents-wrapper {
        .contents-header {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
        }
        .contents-sub {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
      }

      .box {
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .confirm-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      background-color: $colorNebulaBlue;
      color: $colorWhite;

      &.is-disabled {
        background-color: $colorDarkGray;
      }
    }
  }
}

section.reset-password {
  min-height: 600px;
  article.reset-password-wrapper {
    .reset-main-header {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: $colorNebulaBlue;
    }

    .reset-sub-header {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $textContentBlack;
    }

    .pwd-form {
      .password-input {
        input {
          background-color: $colorAntiFlashWhite;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: $textContentBlack;
        }

        input::placeholder {
          color: $colorDarkGray;
        }

        .note-info {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $textContentBlack;
        }

        .available-text {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $colorNebulaBlue;
        }

        .not-matching-text {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $colorRedOrange;
        }
      }
    }

    .save-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorWhite;
      background-color: $colorNebulaBlue;
    }

    .cancel-btn {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $colorRadicalRed;
      background: linear-gradient(180deg, rgba(254, 101, 135, 0.1), rgba(245, 45, 106, 0.1));
    }
  }
}

section.dash-board-manager {
  .board {
    .header-area {
      input {
        background-color: $colorWhite;
      }

      .text-wrapper {
        .title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $textContentBlack;
        }

        .time-refresh {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $textGrayPrefix;
        }
      }

      .input-wrapper {
        .board-input {
          box-shadow: 0 3px 4px 1px rgba(123, 159, 252, 0.1);
        }
      }
    }

    .content-wrapper {
      padding-top: 30px;
      &.first-content {
        padding-top: 0;
      }
      .content-detail-wrapper {
        padding-bottom: 30px;
        border-bottom: 1px solid #aab1bb80;

        > div {
          //border-bottom: 1px solid #AAB1BB80;

          .device-info-wrapper {
            .detail-info {
              background-color: $colorWhite;
              box-shadow: 0 3px 4px 1px rgba(123, 159, 252, 0.1);

              .title {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: $textContentBlack;
              }

              .value {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: $textContentBlack;
                .prefix {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 17px;
                  color: $textGrayPrefix;
                }
              }

              &.working {
                order: 1;
              }
              &.heart-rate {
                order: 2;
              }
              &.map {
                order: 3;
                padding: 0;

                > #map {
                  height: 100%;
                }
              }
              &.temperature {
                order: 4;
              }
              &.blood-pressure {
                order: 5;
              }
              &.sleep {
                order: 6;
              }
            }
          }
        }

        &.last-content {
          border-bottom: 0;
        }
      }

      .chat-manager-dashboard-wrapper {
        .message-wrapper {
          .message-area {
            background-color: $colorWhite;
            box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);

            .message-info {
              .userId {
                width: 70px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $textContentBlack;
              }

              .date {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $textGrayPrefix;
              }
            }

            .message-body {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: $textGrayPrefix;
            }

            &.emergency {
              background-color: $colorRed;
              p,
              span {
                color: $colorWhite !important;
              }
              .message-body {
                color: $colorWhite !important;
              }
            }
          }
        }

        .more-wrapper {
          div {
            background-color: $colorWhite;
            border: 1px solid $colorNebulaBlue;
            color: $colorNebulaBlue;

            span {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
            }

            &.emergency {
              border: 1px solid $colorRed;
              color: $colorRed;
            }
          }
        }
      }

      &.emergency {
        background-color: #dc26261a;
      }
    }
  }
}

.user-info-wrapper {
  background-color: $colorWhite;

  &.emergency {
    background-color: $colorRed !important;
  }

  .name {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $textContentBlack;

    &.emergency {
      color: $colorWhite !important;
    }
  }

  .id {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $textGrayPrefix;

    &.emergency {
      color: $colorWhite !important;
    }
  }

  .battery-wrapper {
    .battery {
      position: relative;
      width: 40px;
      height: 40px;
      background: #2c80ff1a;
      border-radius: 50%;

      .battery-img {
        display: inline-flex;
        width: 24px;
        height: 14px;
        background: no-repeat center center url('../images/view/img-battery-bg.svg');
        transform: rotate(270deg);

        span {
          height: 10px;
          margin: 2px 5px 2px 2px;
          background: #2c80ff;
          border-radius: 2px;
        }
      }

      &.emergency {
        background-color: rgba(255, 255, 255, 0.1) !important;
      }

      .chart-wrapper {
        position: absolute;
        top: -4px;
        left: -4px;

        canvas {
          width: 48px;
          height: 48px;
        }
      }
    }
    .battery-percent {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $colorBlue;
      height: 19px;

      &.emergency {
        color: $colorWhite;
      }
    }

    .battery-empty {
      background-color: $colorAntiFlashWhite;
    }
  }
}

.manager-box-shadow {
  box-shadow: 0px 3px 4px 1px rgba(123, 159, 252, 0.1);
}

input#messageFile {
  display: none;
  width: 0;
  height: 0;
}

.dash-board-manager-health {
  margin: unset;
  @media (max-width: 740px) {
    width: 100%;
    .contents-wrapper {
      width: 100% !important;
    }
    .detail-info {
      width: 100% !important;
    }
  }
}
.dash-board-manager-chat {
  width: calc(100% - 355px);
  @media (max-width: 740px) {
    width: 100%;
  }
}
