.device-setting {
  padding: 20px 20px 110px 20px;

  article {
    padding: 0 20px;
    background: $colorWhite;
    border-radius: 10px;

    &.info {
      margin-bottom: 20px;
      padding: 20px 30px;

      .device-info {
        p {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: $textContentBlack;
        }
        label {
          margin-top: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $textContentBlack;
        }
        .battery-info {
          display: inline-flex;
          align-items: center;
          margin-top: 8px;

          .battery-img {
            display: inline-flex;
            width: 24px;
            height: 14px;
            background: no-repeat center center url('../images/view/img-battery-bg.svg');

            span {
              height: 10px;
              margin: 2px 5px 2px 2px;
              background: #2c80ff;
              border-radius: 2px;
            }
          }

          .battery-value {
            display: inline-flex;
            margin-left: 6px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #2c80ff;
          }
        }
      }

      .connect-state {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 30px;
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: $textContentBlack;
        background: #f4f5f7;
        border-radius: 25px;
      }
    }

    ul {
      li {
        a {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;
          border-bottom: 1px solid rgba(170, 177, 187, 0.5);

          .icon {
            margin-right: 15px;
          }

          label {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            color: $textContentBlack;
          }

          button {
            width: 80px;
            height: 40px;
            padding: unset;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;

            &:first-child {
              margin-right: 10px;
            }

            &.default {
              background-color: #f4f5f7;
            }
          }
        }
        &:last-child > a {
          border-bottom: none;
        }
      }
    }
  }
}

.device-update-cycle,
.device-not-disturb,
.firmware-update {
  padding: 40px 30px 120px 30px;
  .title-wrapper {
    .title {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: $colorPrimary;
    }
    .desc {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }
  }
  .update-cycle {
    background: $colorWhite;
    border-radius: 10px;
    ul {
      li {
        a {
          display: flex;
          justify-content: space-between;
          padding: 15px 0;
          border-bottom: 1px solid rgba(170, 177, 187, 0.5);
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  .update-time {
    background: $colorWhite;
    border-radius: 10px;
    ul {
      li {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid rgba(170, 177, 187, 0.5);

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          color: $textContentBlack;
        }

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 40px;
          background: #f4f5f7;
          border-radius: 25px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $textContentBlack;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .update-direct {
    label {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: $textContentBlack;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $textGrayPrefix;
    }
  }

  .btn-wrapper {
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);

    .firmware-desc {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }
  }

  .firmware-info-wrapper {
    background: $colorWhite;
    border-radius: 10px;

    .firmware-info {
      > li {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $textContentBlack;

        label {
          color: $textGrayPrefix;
        }
      }
    }
  }
}

.device-update-cycle {
  padding: 40px 30px 40px 30px;

  .btn-wrapper {
    position: relative;
    width: 100%;
    left: unset;
    bottom: unset;
    transform: unset;
    margin-top: 40px;

    .firmware-desc {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }
  }
}

.time-picker {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: 300px;
}