.setting-target, .setting-alarm {
  position: relative;
  min-height: calc(100% - 60px);
  padding: 30px 20px 210px;

  article {
    padding: 20px;
    background-color: $colorWhite;
    border-radius: 10px;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: $textContentBlack;
    }

    .select-title {
      margin-right: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $textContentBlack;
    }

    .select-prefix {
      margin: 0 20px 0 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $textGrayPrefix;
    }

    .select-warning {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $colorWarning;
    }
  }

  .btn-wrapper {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 60px;
  }
}