$colorPrimary: #466FFF;
$colorBlack: rgba(0, 0, 0, 1);
$colorBlackHalf: rgba(0, 0, 0, 0.5);
$colorWhite: #FFFFFF;
$colorGray: #eee;
$colorBlue: #2C80FF;
$colorNebulaBlue: #466FFF;
$colorAntiFlashWhite: #F4F5F7;
$colorTitanWhite: #F9F9FF;
$colorDarkGray: #AAB1BB;
$colorRedOrange: #FF3131;
$colorGraniteGray: #666666;
$colorLightSilver: #D6D6D6;
$colorRomanSilver: #8A8D9F;
$colorRadicalRed: #F52E6B;
$colorThickGray: #565656;
$colorLightGray: #C5C5C5;
$colorLightBlue: #E7EBFF;
$colorLightRed: #FF31311A;
$colorRed: #DC2626;

$colorChartWorking: #1882FF;
$colorChartHeart: #522ED2;
$colorChartTemp: #01BCAD;
$colorChartBlood: #EB2323;
$colorChartSleep: #FFA900;
$colorChartOxy: #8AAC00;
$colorChartStress: #474747;
$colorWarning: #FF545E;


$textGrayPrefix: #A0A3BD;
$textGray: #999999;
$textContentBlack: #4E4B66;
$textContentBlackHalf: rgba(78, 75, 102, 0.5);


$colorBackground: #F9F9FF;